{
    # email to generate a valid SSL certificate
    email ohsito@gmail.com

    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

# Host which Caddy will handle
{$DOMAIN_NAME}


handle {
    #root * /srv/app/build
    #encode gzip zstd
    #file_server
    reverse_proxy app:3000
}

handle_path /api* {
    root * /srv/api/public
    php_fastcgi api:9000
    encode gzip zstd
    file_server
}



